<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CourseApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Prepare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/certification">Certify</a>
        </li>
      </ul>
      <div class="d-flex" *ngIf="!tokenService.isLoggedIn()">
        <a class="btn btn-warning me-2" routerLink="/auth/register">Register</a>
        <a class="btn btn-outline-light" routerLink="/auth/login">Log in</a>
      </div>
      <div class="d-flex" *ngIf="tokenService.isLoggedIn()">
        <a class="btn btn-warning me-2" routerLink="/profile">My profile</a>
        <button class="btn btn-outline-light" (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
</nav>
