<app-overlay-loading [loading]="loading"></app-overlay-loading>
<nav class="navbar navbar-light bg-light" *ngIf="certification">
  <div class="container-fluid">
    <div class="navbar-expand">
      <ul class="navbar-nav">
        <li class="align-self-center fw-bolder" [ngClass]="certification.timeLeft < 600 ? 'text-danger' : ''">
          {{certification.timeLeft | time}}
        </li>
        <li class="nav-item">
          <button [disabled]="num==0" (click)="prev()" class="btn">Previous</button>
        </li>
        <li class="align-self-center">
          {{num + 1}} / {{certification.problems.length}}
        </li>
        <li class="nav-item">
          <button [disabled]="num==certification.problems.length - 1" (click)="next()" class="btn">Next</button>
        </li>
        <li class="nav-item">
          <button (click)="submitModal(content)" class="btn btn-primary">Finish
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-assignement [problem]="currentProblem" [num]="num"></app-assignement>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Finish test?</h5>
  </div>
  <div class="modal-body">
    <p class="fw-bold">
      Are you sure you want to finish the test
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="submit()">Yes</button>
    <button class="btn btn-secondary" (click)="close()">No</button>
  </div>
</ng-template>
